.inp {
  width: 100%;
  margin: 0.5em 0;
  padding: var(--inp-pdg);
  box-sizing: border-box;
  border: var(--border);
  border-radius: var(--radius);
}

.inp::-webkit-search-cancel-button {
  appearance: none;
  opacity: 0;
}
