.box {
  display: inline-flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: bold;
  user-select: none;
  white-space: nowrap;
}

.link {
  line-height: 1.7em;
  padding: 0.3em 0.8em;
  text-decoration: none;
  color: #24292e;
  cursor: pointer;
}

.github {
  composes: link;
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  border: 1px solid var(--c-sh);
  border-radius: 4px 0 0 4px;
}

.github:focus,
.github:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(180deg, #f0f3f6, #e6ebf1 90%);
  background-position: -0.5em;
  border-color: rgb(27 31 35 / 35%);
}

.stars {
  composes: link;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  border: 1px solid var(--c-sh);
  border-left: none;
}

.stars:focus,
.stars:hover {
  color: var(--c-pr);
}
