.btn {
  overflow: hidden;
}

.btn::after {
  background-color: #d3edff;
  border-radius: var(--br-rds);
  content: "";
  display: block;
  margin-left: -2em;
  margin-top: -1em;
  opacity: 0;
  padding-top: 50%;
  padding-left: 140%;
  position: absolute;
  transition: all .6s;
}

.btn:active::after {
  margin: 0;
  opacity: 1;
  padding: 0;
  transition: 0s;
}
